<div>
    <div *ngIf="mostrar" class="card">
        <div class="container">
            <p>{{ persona.nombre }}</p>
            <p>{{ persona.direccion }}</p>
        </div>
    </div>
   
    <div class="btn">
        <button class="boton" (click)="mostrar = !mostrar">Mostrar/Ocultar</button>
    </div>
</div>